body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    text-align: center;
    background-color: #eee;
    line-height: 1.6;
    font-weight: 300;
    min-height: 2000px;
}
.container{
    width: 80%;
    margin: auto;

}
.typografi{
    display: flex;

}
.typografi .col{
    flex: 1;
    margin: 0 0.5em;
    padding: 0 0.5em;
}
/* em
/* ukurannya relatif terhadap parent, jika tidak ada akan memberikan nilai default yaitu
16px  */
.col-em {
    /* bahaya nya ialah ketika kita menumpuk em
    misalnya parent nya saya beri 2em maka di bawahnya 
    juga relatif terhadap 2em tersebut */
    /* font-size: 20px; */
    /* tapi jika saya kasi ukuran parent nya maka 
    ia akan relatif terhadap 20px bukan lagi 16px */
}
.col-em p{
    /* font-size: 2em;  */
    /* jadi ukurannya 32px karena 2x16 */
}
.col-em h2{
    /* font-size: 1.5em; */
} 

/* rem */
.col-rem{

}
html{
    /* font-size: 10px; dia akan terpengaruh terhadap tag html */
}
.col-rem h2{
    font-size: 2rem;
    /* prilakunya sama seperti em, dia akan mengambil nilai default akan
    akan tetapi tidak terpengaruh terhadap nilai parent nya 
    kecuali pada tag html tag paling terluar 
    */
}
.col-rem p{
    font-size: 1.5rem;

}
.btn{
    display: inline-block;
    background-color: #333;
    font-weight: 700;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1em 3em;
    margin: 0 1.5em;
}
.btn-sm{
    font-size: 0.5em;
}
.btn-lg{
    font-size: 2em;
}
/* gunakan rem untuk font dan em untuk  legth seperti padding,margin atau width dan height*/
/* jika kita menggunakan em pada legth dia tidak relatif terhadap parent tetapi 
relatif terhadap length/elemen html 
sehingga kita bisa lebih fleksibel membuat tombol */
